
:root {
    --bgColor: white;
    --bgColor1: #f0f0f0;
    --theme: #7cc6e9;
    --theme-danger: #f5381f;
    --theme-success: #1ff566;
    --theme-warning: #eeb63d;

    --border-default: #c2c2c2;
    --border-bold: #8a8a8a;
}
